<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Transações</title>
</head>

<body>
    <main>
        <div>

            <div class="botao">
                <Button>
                    
                    Adicionar Despesa
                </Button>
                <Button>Adicionar Receita</Button>
                <h3>Título da página</h3>
            </div>
            <div class="transactios">
                <section>
                    <p>Despesa 1</p>
                    <p>Despesa 2</p>
                </section>
            </div>

        </div>
    </main>
</body>

</html>
