<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Transações</title>
</head>

<body>
    <main>
        <div>

            <div class="bottons">
                <Button class="expense">+ Despesa</Button>
                <Button class="financial-income">+ Receita</Button>
                <Button class="transfer">Transferencia</Button>
            </div>

            <div class="transactios">
                <table class="table">
                    <header>
                        <tr>
                            <th>
                            </th>
                            <th>Descrição</th>
                            <th>Data de vencimento</th>
                            <th>Tipo</th>
                            <th>Carteira</th>
                            <th>Valor</th>
                        </tr>
                    </header>
                    <tbody>
                        <tr>
                            <td>
                                <img src="assets/img/check.png" style="height: 20px; width: 20px; display: flex; "  >
                                <!-- Aqui vai a imagem para facilitar a visualização se foi pago ou não -->
                            </td>
                            <td >Cartao</td>
                            <td>
                                <button>Editar</button>
                                <button>Detalhes</button>
                            </td>
                            <td>
                                <button>Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</body>

</html>