/* div {
    text-align: center;
}
padding-left: 20px;
padding-right: 20px;
text-align: left;
background-color: rgb(227, 241, 240);
margin-right: auto;
margin-left: auto;
 */
 .transactios {
text-align: center;
}


button {
    /* display: inline;     */
    padding-bottom: 10px;
    margin-left: 0.25cm;
    /* border-radius: 15%; */
    border-bottom: double;
    border-radius: 15px;
    
} 
.bottons{
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expense{
    background-color: rgb(242, 138, 124);
}
.financial-income{
    background-color: rgb(124, 242, 158);
}
.transfer{
    background-color: rgb(222, 219, 27);

}

.table{
    text-align: center;
    
}