<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Transações</title>
</head>

<body>
    <main>
        <div>

            <div class="bottons">
                <Button class="expense">Adicionar Despesa</Button>
                <Button class="financial-income">Adicionar Receita</Button>
                <Button class="transfer">Transferencia</Button>
            </div>

            <div class="transactios">
                <h3>Título da página</h3>
                <table class="table">
                    <header>
                        <tr>
                            <th></th>
                            <th>Descrição</th>
                            <th>Data de vencimento</th>
                            <th>Tipo</th>
                            <th>Carteira</th>
                            <th>valor</th>
                        </tr>
                    </header>
                </table>
            </div>

        </div>
    </main>
</body>

</html>