
.principal {
    /* display: inline-block; */
}

.item-1 {
 display: inline-block;
 width: 350px;
 margin-right: 0.25cm;
 margin: 0.25cm;
 /* height: 150px; */
 /* padding-top: 25%; */
}
.item-2 {
    display: inline-block;
    width: 970px;
    margin: 0.25cm;
    /* height: 150px; */

   }